<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAV1A7oWZEcwrT_PsrVuEfUh-XjMqps9n8</string>
	<key>GCM_SENDER_ID</key>
	<string>399926663354</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kittituch.CompHub</string>
	<key>PROJECT_ID</key>
	<string>trackhub-4fc4f</string>
	<key>STORAGE_BUCKET</key>
	<string>trackhub-4fc4f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:399926663354:ios:5b8e63b6c7220b0040ca83</string>
	<key>DATABASE_URL</key>
	<string>https://trackhub-4fc4f-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>